<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mny.mojito.flow">

    <application>
        <activity
            android:name=".FlowDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateHidden" />
    </application>


</manifest>
