<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mny.wan.pkg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application>

        <activity
            android:name=".presentation.main.MainViewPagerActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".presentation.main.system.share.ShareActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.main.project.ProjectActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.main.wechat.WeChatActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.main.system.secondsystem.SystemChildrenActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.mojito.common.webview.WebViewActivity" />
        <activity
            android:name=".presentation.search.SearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.collect.CollectActivity"
            android:launchMode="singleTop" />
        <meta-data
            android:name="com.mny.wan.pkg.app.WanConfig"
            android:value="ModuleConfig" />

    </application>

</manifest>